/* CUSTOM PROPS */
:root{
  --blue:#5267df;
  --red: #fa5959;
  --text-color: #242a45;
  --text-color-50:rgba(36, 42, 69,0.5);
  --text-color-75:rgba(36, 42, 69,0.75);
}

/* FONTS-FACE */

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Regular.woff2') format('woff2'),
    url('../fonts/Rubik-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-MediumItalic.woff2') format('woff2'),
    url('../fonts/Rubik-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}


@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Medium.woff2') format('woff2'),
    url('../fonts/Rubik-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


/* GLOBAL */
html{
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

*:focus{
  outline:  2px dashed #5267df;
  outline-offset: 3px;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 36px;
  font-family:  'Rubik',"Arial", sans-serif;
  background-color: #fff;
  color:var(--text-color-50);
  letter-spacing: 0.15px;
  overflow-x: hidden;
}

img{
  max-width: 100%;
  height: auto;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  color: inherit;
}

/* VISUALLY-HIDDEN */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}



/* CONTAINER */
.container{
  width: 100%;
  max-width: 1144px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* MAIN-CONTENT */
.main-content{
  flex-grow: 1;
}

/* BUTTON */

.button{
  display: inline-block;
  padding: 8px 22px;
  border: 2px solid transparent;
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 2;
  white-space: nowrap;
  cursor: pointer;
  transition-property: color, border-color, background-color;
  transition-duration: 0.4s;
  transition-timing-function: ease-out;
}

.button:active{
  opacity: 0.6;
}

.button--red{
  background-color: var(--red);
  color: #fff;
}

.button--red:hover{
  border-color: var(--red);
  background-color: #fff;
  color: var(--red);
}

.button--blue{
  background-color: var(--blue);
  color: #fff;
}

.button--blue:hover{
  border-color: var(--blue);
  background-color: #fff;
  color: var(--blue);
}

.button--grey{
  background-color: #f7f7f7;
  color: var(--text-color-75);
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
}

.button--grey:hover{
  border-color: #5B6074;
  background-color: #fff;
}

.button--block{
  display: block;
  width: 100%;
}

.button--site-header{
  padding: 10px 31px;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 1.5px;
}


/* LOGO */

.logo {
  display:block;
  transition: opacity 0.4s ease;
}
.logo:hover{
  opacity: 0.8;
}
.logo:active{
  opacity: 0.6;
}
.logo__image {
  display: block;
  width: 149px;
  height: 25px;
  object-fit: contain;
}

/* SITENAV */


.sitenav {
  text-transform: uppercase;
  color: var(--text-color);
}
.sitenav__list {
  display: flex;
}
.sitenav__item:not(:last-child){
  margin-right: 48px;
}
.sitenav__link{
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 1.5px;
  transition: color 0.4s ease;
}
.sitenav__link:hover{
  color: var(--red);
}

/* SECTION */

.section {
  padding-top: 75px;
  padding-bottom: 75px;
}
.container {
}
.section__info {
  width: 100%;
  max-width: 540px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 48px;
}
.section__title {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 32px;
  line-height: 52px;
  font-weight: 500;
  color: var(--text-color);
}
.section__description {
  margin: 0;
  font-size: 18px;
  line-height: 28px;
}

/* SITE-HEADER */

.site-header {
  padding-top: 48px;
  padding-bottom: 48px;
  text-transform: uppercase;
}
.site-header__container {
  display: flex;
  align-items: center;
}

.site-header__logo {
  margin-right: 50px;
}

.site-header__sitenav {
  margin-left: auto;
  margin-right: 48px;
}


/* HERO */

.hero {
  padding-top: 67px;
  padding-bottom: 105px;
}
.hero__container {
  position: relative;
  display: flex;
  align-items: flex-start;
}

.hero__container::before{
  content: "";
  z-index: -4;
  position: absolute;
  width: 100vw;
  height: 352px;
  right: 365px;
  top: 134px;
  transform: translateX(100%);
  background-color: var(--blue);
  border-radius: 316.5px;
}
.hero__content {
  max-width: 540px;
  width: 100%;
  padding-top: 66px;
  margin-right: 65px;
  flex-shrink: 0;
}

.hero__heading {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 48px;
  line-height: 52px;
  color: var(--text-color);
}
.hero__text {
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 28px;
  color: var(--text-color-50);
}

.hero__actions {
  display: flex;
}
.hero__actions-item:not(:last-child) {
  margin-right: 16px;
}

.hero__image{
  display: inline-block;
  flex-shrink: 0;
  width: 578px;
  height: 385px;
  object-fit: contain;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* FEATURES */

.features {
  padding-bottom: 238px;
}


.features__top {
  margin-bottom: 72px;
}

/* FEATURE-TOP */

.features-top {
  max-width: 540px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.features-top__heading {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 32px;
  line-height: 52px;
  letter-spacing: -0.1px;
  color: var(--text-color);
}
.features-top__text {
  margin-top: 0;
  color: var(--text-color);
  opacity: 0.5;
}


/* TABS */

.tabs {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
  max-width: 730px;
  width: 100%;

}
.tabs__list {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content:center;
}

.tabs__item {
  text-align: center;
  width: 243px;
  border-bottom: 1px solid  rgba(73, 93, 207, 0.20012)
}

.tabs__link{
  display: block;
  padding-top: 27px;
  padding-bottom: 27px;
  border-bottom: 4px solid transparent;
  outline: none;
  transition: color 0.4s ease;
}

.tabs__link:hover{
    color: var(--header-btn-color);
}

.tabs__item-active .tabs__link{
  border-color:  var(--header-btn-color);
}

/* SECTION-INFO */

.section-info{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-info::before{
  content: "";
  position: absolute;
  z-index: -4;
  top: 83px;
  left: 470px;
  width: 100vw;
  height: 360px;
  border-radius: 316.5px;
  transform: translateX(-100%);
  background-color: var(--accent-color);

}
.section-info__image {
  width: 536px;
  height: 346px;
  object-fit: contain;
}
.section-info__content {
  max-width: 445px;
  width: 100%;
  margin-left: 120px;
}
.section-info__heading {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 32px;
  line-height: 52px;
  color: var(--text-color);
}
.section-info__text {
  margin-top: 0;
  margin-bottom: 32px;
  color: var(--text-color);
  opacity: 0.5;
}

/* PROPSAL */
.proposal{
  padding-bottom: 150px;
}

.proposal__list {
  padding-top: 48px;
  display: flex;
  justify-content: center;
}
.proposal__item:not(:last-child){
  margin-right: 35px;
}
.proposal__item:nth-child(2){
  margin-top: 40px;
}
.proposal__item:last-child{
  margin-top: 80px;
}
.proposal-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0px 10px 20px -5px rgba(73, 93, 207, 0.20012);
  padding-top: 50px;
  padding-bottom: 24px;
}
.proposal-card__image {
  display: block;
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-bottom: 32px;
}
.proposal-card__heading {
  margin-top: 0;
  margin-bottom: 6px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.25px;
  color: var(--heading-color);
}
.proposal-card__text {
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 15px;
  line-height: 28px;
  color: var(--text-color);
  opacity: 0.5;
}
.proposal-card__decor-img {
  display: block;
  width: 284px;
  height: 4px;
  object-fit: contain;
}

/* FAQ */

.faq {
  padding-bottom: 150px;
}
.faq__container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faq__inner{
  max-width: 540px;
  width: 100%;
}

.faq__list {
  margin-top: 56px;
  text-align: left;
}
.faq__item {
  padding-top: 19px;
  padding-bottom: 19px;
  border-top: 1px solid rgba(36, 42, 69 , 0.5);
}
.faq__item:last-child{
  border-bottom: 1px solid rgba(36, 42, 69 , 0.5);
}
.faq__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: color 0.4s ease;
}
.faq__link:hover{
  color: var(--header-btn-color);
}
.faq__text{
  display: none;
}
.faq__icon-down {
  display: block;
  margin-right: 24px;
}
.faq__button-wrapper{
  margin-top: 56px;
  display: flex;
  justify-content: center;
}

/*  CONTACTS */

.contacts {
  background-color: var(--accent-color);
  color: #fff;
}
.contacts__container {
  padding-top: 58px;
  padding-bottom: 52px;
  text-align: center;
}

.contacts__text {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 13px;
  line-height: 40px;
  letter-spacing: 5px;
}
.contacts__title {
  margin-top: 0;
  margin-bottom: 36px;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.1px;
}
.contacts__form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contacts__input-wrapper{
  position: relative;
}
.contacts__input {
  width: 300px;
  margin-right: 16px;
  padding: 8px 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.25px;
  border: 2px solid transparent;
  border-radius: 5px;
}
.constacts__input-erorr{
  display: none;
  position: absolute;
  top: calc(100% - 5px);
  left: 0;
  width: 300px;
  padding-top: 4px;
  padding-bottom: 6px;
  padding-left: 12px;
  background-color: var(--header-btn-color);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: left;
  font-size: 10px;
  line-height: 12px;
  font-style: italic;
}

input:not(:focus):not(:placeholder-shown):invalid {
  border-color: red;
  background-image: url("../image/error-icon.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
}

input:not(:focus):not(:placeholder-shown):invalid + .constacts__input-erorr , .contacts__input-erorr-icon{
  display: block;
}


/* FOOTER */

.site-footer {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: var(--heading-color);
}
.site-footer__container {
  display: flex;
}

.site-footer__logo {
  display: inline-block;
  margin-right: 63px;
}

.site-footer__sitenav .sitenav__link{
  color: #fff;
  display: inline-block;
}
.site-footer__sitenav .sitenav__link:hover{
  color: var(--header-btn-color);
}

.site-footer__socials {
  margin-left: auto;
}
.social-media__link{
  display: inline-block;
  color: #fff;
}
.social-media__icon{
  display: block;
}
.social-media__link:first-child{
  margin-right: 40px;
}
.social-media__link:hover{
  color: var(--accent-color);
}
/* BACKGROUND-IMAGE FOR RETINA SCREENS */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}